*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    /* background-image: url('./bg-final.avif'); */
    /* background-image: url('./bg-2.jpg'); */
    background-image: url('./bg-3.jpg');
    /* background-size: cover; */
    background-size: 100% 320%;
    overflow: hidden;
    background-position: 0px;
    animation: bg 12s linear infinite;
    /* background-repeat-y:no-repeat; */
}

@keyframes bg {
    0%{
        background-position: 0px;
    }

    /* 50%{
        background-position: 0px;
    } */

    100%{
        background-position: 6300px;
    }
}


.car{
    position: relative;
    background-image: url('./car2.png');
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 60vh;
    left: 80%;
    animation: car 5s linear infinite;
}


@keyframes car {
    0%{
        left: 110%;
    }

    25%{
        left: 75%;
    }

    50%{
        left: 30%;
    }
    100%{
        left: -20%;
    }
}

.wheel{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    top: 37.5%;
}

.front{
    left: 12%;
}

.back{
    right: 11%;
}

.rim{
    width: 25px;
    height: 25px;
    border: 2px dotted white;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 12px;
    animation: rim 1s infinite;
}

@keyframes rim {
    0%{
        transform: rotate(-360deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
